{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
Ajouter médicament
{% endblock %}
{% block content %}
  <div class="row">
   <div class="col">
     <div class="card">
       <div class="card-header">
         Ajout d'un médicament
       </div>
       <div class="card-body">
         <form action="" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           {{ form | crispy}}
            {{ form.media }}
         </form>
       </div>
     </div>
   </div>
  </div>
{% endblock %}
