
{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
Mettre à jour catégorie
{% endblock %}
{% block content %}
  <div class="row">
   <div class="col">
     <div class="card">
       <div class="card-header">
         Modification d'une catégorie
       </div>
       <div class="card-body">
         <form action="" method="post">
           {% csrf_token %}
           {{ form | crispy}}
            {{ form.media }}
         </form>
       </div>
     </div>
   </div>
  </div>
{% endblock %}
